<!-- <div>
    <h2>Forecast for {{ forecast.city.name }}</h2>
    <ul>
        <li *ngFor="let item of forecast.list">
           {{item.main.temp_max}}
        </li>
     </ul>
</div> -->


<div class="container">
   <div class="day" *ngFor="let item of forecast.daily">
      <div class="item">
      {{ getDayOfWeek(item.dt) }}
      </div>
      <div class="item">
      {{ getMonthAndDate(item.dt) }}
      </div>
      <div class="item">
         <img class="weather-icon" src="http://openweathermap.org/img/wn/{{item.weather[0].icon}}.png" alt="">
      </div>
      <div class="item">
      {{ roundNumber(item.temp.max) }} / {{ roundNumber(item.temp.min) }}
      </div>
   </div>
</div>
