.container {
    height: 100%;
    width: 100%;
    text-align: center;
}

.map {
    width: 90vw;
    height: 100vh;
    display: inline-block;
    margin: 5px;
}

.forecastContainer {
    height: 150px;
    width: 70vw;
    display: inline-block;
    margin-bottom: 10px;
}

.noForecast {
    height: 150px;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
}
