.container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.map {
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
}

.forecastContainer {
    height: 200px;
    margin: 0 auto;
}

.noForecast {
    height: 200px;
    text-align: center;
    margin: 0 auto;
}
